.fondo {
  background-color: green;
}
.cardBody {
  background-color: white;
  width: 384px;
  height: 565px;
  margin-top: 40px;
  border-radius: 20px;
}

.iconCard {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 125px;
  line-height: 83%;
}

.numCard {
  font-size: 125px;
  line-height: 80%;
  font-family: "Times New Roman", Times, serif;
}

.colorIcon {
  color: red;
}
